:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { 
background-color: #2d2d2d;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #2d2d2d 10px ), repeating-linear-gradient( #81282855, #812828 );
background-size: cover;
background-attachment: fixed;
min-height: 100vh;
}

/* ===== NAV BAR ===== */
.navbar {
  background-color: #343a40 !important;
}

.nav-link {
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f16a6a !important;
}

.logo {
  width: 100px;
  height: auto;
}
